
TABLE.biblio
{
	font-size: 12pt;
	border-left-color: lightgrey;
	border-bottom-color: lightgrey;
	border-top-color: lightgrey;
	border-right-color: lightgrey;
	background-color: lightgrey;
}


TABLE.biblio TR.columntitle
{
	font-size: 11pt;
	font-weight: bolder;
	background-color: white;
}

TABLE.biblio TR.content
{
	font-size: 10pt;
	background-color: white;
}


TABLE.biblio TR.content TD.name
{
	font-weight: bolder;
	background-color: whitesmoke;
	text-align: right;
}

TABLE.biblio TR.bottomcmd
{
	font-size: 9pt;

}


