
TABLE.borrowinfo
{
	font-size: 12px;
	text-align: left;
	background-color: white;
	border-style: solid;
	border-top-width: 18px;
	border-bottom-width: 18px;
	border-left-width: 8px;
	border-right-width: 8px;
	border-color: whitesmoke;
	width: 100%;
}

TABLE.borrowinfo TR.columntitle
{
	font-weight: bolder;
}

TABLE.borrowinfo TR.dark
{
	background-color: #f0f0f0
}

TABLE.borrowinfo TR.light
{

}

TABLE.borrowinfo TR.dark TD.overdue
{
	font-weight: bolder;	
	color: red;
}

TABLE.borrowinfo TR.light TD.overdue
{
	font-weight: bolder;	
	color: red;
}

TABLE.reservationinfo TR.cmdline
{
	font-size: 12px;
}

TABLE.reservationinfo TR.cmdline DIV.comment
{
	border-style: dotted;
	border-color: #cccc00;
	border-width: 2px;
	padding: 8px;
	margin: 4px;
}

TABLE.reservationinfo TR.cmdline INPUT.renewbutton
{
	font-size: 12px;
	padding: 2px;
}

