
TABLE.browse
{
	width:100%;
	font-size: 12px;
	border-left-color: lightgrey;
	border-bottom-color: lightgrey;
	border-top-color: lightgrey;
	border-right-color: lightgrey;
	background-color: lightgrey;
	overflow:scroll;
}

TABLE.browse TR.info
{
	font-size: 12px;
}

TABLE.browse TR.columntitle
{
	font-size: 12px;
	font-weight: bolder;
	background-color: white;
}

TABLE.browse TR.contentup
{
	font-size: 12px;
	background-color: white;
}


TABLE.browse TR.contentdown
{
	font-size: 12px;
	background-color: white;
}


TABLE.browse TR.contentup TD.path
{
	font-weight: bolder;
	background-color: whitesmoke;
}

TABLE.browse TR.cmdline
{
	font-size: 12px;
}


TABLE.browse TR.cmdline INPUT.goto
{
	font-size: 12px;
	padding: 2px;
}

TABLE.browse TR.cmdline SELECT.formatlist
{
	font-size: 12px;
	padding: 2px;
}
