DIV.login_wrapper
{
	width: 500px;
	border-width: none;
}


TABLE.login
{
	font-size: 12px;
	text-align: left;
	background-color: whitesmoke;

	border-style: solid;
	border-width: 16px;
	border-color: white;

	width: 100%;
}

TABLE.columns
{
	width: 100%;
	text-align: center;
}

TABLE.columns TD.switchup { 
	border-left:1px solid #ffffff;
	border-right:2px solid #a0a0a0;
	border-top:2px solid #ffffff;
	border-bottom:0px solid #a0a0a0;
	background-color:whitesmoke;
	padding: 4px;
}
     

TABLE.columns TD.switchdown { 
	cursor:hand;
	border-left:1px solid #a0a0a0;
	border-right:1px solid #a0a0a0;
	border-bottom:1px solid #a0a0a0;
	background-color:#dddddd;
	padding: 4px;
}


TABLE.columns TD.leftblank { 
	border-bottom:1px solid #a0a0a0;
	background-color:whitesmoke;
	width: auto;
}

TABLE.columns TD.rightblank { 
	border-bottom:1px solid #a0a0a0;
	background-color:whitesmoke;
	width: auto;
}

TABLE.content
{
	margin-top: 36px;
	margin-bottom: 36px;
}

TABLE.content TD.name
{
	width: 30%;
	text-align: right;
	vertical-align: top;
	padding: 8px;
	padding-right: 16px;
}

TABLE.content TD.value
{
	width: 70%;
}

TABLE.content DIV.comment
{
	border-style: dotted;
	border-color: #cccc00;
	border-width: 2px;
	padding: 8px;
	margin: 4px;
}


TABLE.login A.resetpassword
{
    margin-left: 10px;
}