TABLE.messagelist_total
{
	/*width: 970px;*/
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

TABLE.messagelist_total TD.left
{
	width: 10%;
}

TABLE.messagelist_total TD.middle
{
	width: 16px;
}

TABLE.messagelist_total TD.right
{
	width: 90%;
}


DIV.boxes_wrapper
{
	font-size: 12px;
	text-align: left;
	/*width: 160px;*/
	width: auto;

	border-width: none;

}

/* 标题 */
DIV.boxes_wrapper TD.middle
{
	font-weight: bolder;
}

DIV.messagelist_wrapper
{
	font-size: 12px;
	text-align: left;
	width: 98%;

	border-width: none;

}

/* 标题 */
DIV.messagelist_wrapper TD.middle
{
	font-weight: bolder;
}



TABLE.messagelist
{
	width: 100%;
	font-size: 12px;
	border-left-color: lightgrey;
	border-bottom-color: lightgrey;
	border-top-color: lightgrey;
	border-right-color: lightgrey;
	background-color: lightgrey;
}

TABLE.messagelist TR.info
{
	font-size: 12px;
}

TABLE.messagelist TR.columntitle
{
	font-size: 12px;
	font-weight: bolder;
	background-color: white;
}

TABLE.messagelist TR.columntitle TD.size
{
	text-align: right;
}


TABLE.messagelist TR.content
{
	font-size: 12px;
	background-color: white;
}

TABLE.messagelist TR.content TD.sender
{
	/*font-weight: bolder;*/
	background-color: whitesmoke;
}

TABLE.messagelist TR.content TD.subject
{
	background-color: whitesmoke;
}

TABLE.messagelist TR.content TD.date
{
	font-size: 12px;
}

TABLE.messagelist TR.content TD.size
{
	background-color: whitesmoke;
	text-align: right;
}

TABLE.messagelist TR.content_new
{
	font-size: 12px;
	font-weight: bolder;
	background-color: yellow;
}

TABLE.messagelist TR.content_new TD.sender
{
	font-weight: bolder;
}

TABLE.messagelist TR.content_new TD.subject
{
}

TABLE.messagelist TR.content_new TD.date
{
	font-size: 10px;
}

TABLE.messagelist TR.content_new TD.size
{
	text-align: right;
}

TABLE.messagelist TR.cmdline
{
	font-size: 12px;
}

TABLE.messagelist TR.debugline
{
	font-size: 12px;
	font-weight: bolder;
	background-color: white;
}

TABLE.messagelist TR.cmdline INPUT.delete
{
	font-size: 12px;
	padding: 2px;
}

TABLE.messagelist TR.cmdline INPUT.deleteall
{
	font-size: 12px;
	padding: 2px;
}

TABLE.messagelist TR.cmdline INPUT.goto
{
	font-size: 12px;
	padding: 2px;
}

TABLE.boxes
{
	font-size: 12px;

/*
	border-left-color: lightgrey;
	border-bottom-color: lightgrey;
	border-top-color: lightgrey;
	border-right-color: lightgrey;
	background-color: lightgrey;
*/

	border-style: solid;
	border-top-width: 18px;
	border-bottom-width: 18px;
	border-left-width: 8px;
	border-right-width: 8px;
	border-color: whitesmoke;
	width: 100%;

}

TABLE.boxes TR.box
{
	background-color: white;
	text-align: center;
}

TABLE.boxes TR.box_active
{
	font-weight: bolder;
	background-color: #aaaaff;
	text-align: center;
}

TABLE.boxes TR.cmd INPUT.newmessage
{
	font-size: 12px;
	padding: 2px;
}



