body {
    font-family: Microsoft YaHei, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
}

TABLE {
    font-size: 9pt;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #999999;
}

    TABLE TD {
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px;
        border-right: 1px;
        border-color: #aaaaaa;
        border-style: solid;
    }

TD.summary IMG {
    float: left;
    margin-right: 4px;
    max-width: 70px;
}

.nowrap {
    white-space: nowrap;
}

TR.read {
    background-color: #aaffaa;
}

.summary {
    word-break: break-all;
    overflow-wrap: anywhere;
}
