TABLE.sidebar
{
	font-size: 14px;
	text-align: left;
	width: 100%;
	border-width: none;
}

TABLE.sidebar TD
{
	padding-left:10px;
	padding-right:10px;
}

TABLE.sidebar TD.active
{
	font-weight:bolder;
}

TABLE.total DIV.description DIV.text
{
	font-size: 13px;
	background-color: white;
	
	margin:10px;
	padding: 10px;
	border-style: dashed;
	border-width: 1pt;
	border-color:#dddddd;
}

TABLE.total DIV.commands INPUT
{
	margin-left: 10px;
	font-size: 12px;
	padding: 2px;
}

TABLE.total A.rss
{
	/*margin:10px; */
}

TABLE.total DIV.commands DIV.errorinfo
{
	font-size: 13px;
	background-color: yellow;
	
	margin:10px;
	padding: 10px;
	border-style:solid;
	border-width: 1pt;
	border-color:#dddddd;
}

/**/

TD.selected_treenode
{
	font-weight:bolder;
}

DIV#TreeView1
{
	background-color: White;
	font-size: 12px;
	width:250px;
	height:500px;
	overflow:scroll;

}

TABLE.total
{
/*	width: 970px;*/
	width: auto;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

TABLE.total TD.left
{
	width: 15%;
	vertical-align: top;
}

TABLE.total DIV.left
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

TABLE.total TD.middle
{
	width: 16px;
}

TABLE.total TD.right
{
	width: 85%;
	vertical-align: top;
}