
TABLE.fellbackinfo
{
	font-size: 12px;
	text-align: left;
	background-color: white;
/*
	background-image: url(./title.jpg);
	background-attachment: fixed;
*/
	border-style: solid;
	border-top-width: 18px;
	border-bottom-width: 18px;
	border-left-width: 8px;
	border-right-width: 8px;
	border-color: whitesmoke;
	width: 100%;
}

TABLE.fellbackinfo TR.columntitle
{
	font-weight: bolder;
}

TABLE.fellbackinfo TR.dark
{
	background-color: #f0f0f0
}

TABLE.fellbackinfo TR.light
{

}

TABLE.fellbackinfo TD.summary
{
	font-size: 12px;
}

TABLE.fellbackinfo TD.borrowinfo
{
	font-size: 12px;
}


