body
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #000088;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

TABLE.body
{
/*	width: 990px;	*/
	width: 780px;
}

TABLE.body TR.main
{
	height: 390px;
	vertical-align: top;
}

TABLE.body TD.main
{
	background-color: #2222aa;
	background-image: url(./main_back.jpg);
	background-attachment: scroll;
}

TABLE.title
{
	font-size: 12px;
	text-align: left;
	background-image: url(./title_back.jpg);
	background-attachment: scroll;

	width: 100%;
	height: 87px;
}

TABLE.title TR.title
{
	font-size: 12px;
}

TABLE.title TR.title TD.left
{
	width: 200px;
}

TABLE.title TR.title TD.center
{
	width: 98%;
	padding-left: 120px;
	color: White;
}

TABLE.title TR.title TD.center DIV.readername
{
	font-size: 24px;
	font-weight: bolder;	
}

TABLE.title TR.title TD.center DIV.titletext
{
	font-size: 16px;
}
TABLE.title TR.title TD.right
{
	width: auto;
	vertical-align: top;
	text-align: right;

}

TABLE.title TR.title TD.right TABLE.toprightcmd
{
	font-size: 12px;
	text-align: center;
	background-color: white;
	filter: alpha(opacity=70);
}

/*****/

TABLE.footer
{
	font-size: 12px;
	text-align: center;
	background-image: url(./footer_back.jpg);
	background-attachment: scroll;

	width: 100%;
	height: 87px;
}

TABLE.footer TR.footer
{
	font-size: 12px;


}

TABLE.footer TR.footer TD.left
{
	width: 200px;
}

TABLE.footer TR.footer TD.middle
{
	width: 98%;
}

TABLE.footer TR.footer TD.right
{
	width: auto;
	vertical-align: top;
	text-align: right;

}

/*****/

TABLE.columnbar
{
	font-size: 12px;
	text-align: left;
	background-image: url(./columnbar_back.gif);
	background-attachment: scroll;
	width: 100%;
	height: 34px;
/*
	border-left-color: lightgrey;
	border-bottom-color: lightgrey;
	border-top-color: lightgrey;
	border-right-color: lightgrey;
	background-color: lightgrey;
*/
}



TABLE.columnbar TR.columnbar
{

	font-size: 12px;
	background-color: transparent;
	vertical-align: middle;
	text-align: center;
}

TABLE.columnbar TR.columnbar TD.left
{
	width: 200px;
}

TABLE.columnbar TR.columnbar TD.normal
{
	width: 62px;
}

TABLE.columnbar TR.columnbar TD A
{
	color: white;
}

TABLE.columnbar TR.columnbar TD.active A
{
	color: black;
}

TABLE.columnbar TR.columnbar TD.active
{
	font-weight: bolder;
	width: 79px;
	background-image: url(./columnbar_active.gif);
	color: #000000;
}

A:link
{
	text-decoration: none;
	color: black;
}
A:visited 
{
	text-decoration: none;
	color: black;
}
A:active 
{
	text-decoration: none;
	color: black;
}
A:hover 
{
	text-decoration: underline;
	color: black;
}

DIV.content_wrapper
{
	font-size: 12px;
	text-align: left;
	width: auto;

	border-width: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

}


TABLE.roundbar
{
	font-size: 12px;
	text-align: left;
	border-width: none;
	width: 100%;
}

TABLE.roundbar TR.titlebar
{
	height: 26px;

}

TABLE.roundbar TR.titlebar TD.left
{
	width: 10px;
	height: 26px;
	background-image: url(./round_titlebar_left.gif);
	background-repeat: no-repeat;
}

TABLE.roundbar TR.titlebar TD.middle
{
	overflow-x:auto;
	width: auto;
	height: 26px;
	background-image: url(./round_titlebar_middle.gif);
	background-repeat: repeat-x;
}

TABLE.roundbar TR.titlebar TD.right
{
	width: 10px;
	height: 26px;
	background-image: url(./round_titlebar_right.gif);
	background-repeat: no-repeat;
}

TABLE.content
{
	font-size: 12px;
	text-align: left;
	width: 100%;
	border-width: none;
}

TABLE.footer
{
	color: white;
}

TABLE.footer TD.middle A
{
	color: yellow;
}

DIV.forbidden
{
	clear: both;
	color:White;
	background-color: gray;
	
	margin: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 15px;
	border-style:solid;
	border-width: 1pt;
	border-color:#dddddd;
}

