TABLE.marc
{
    font-size: 14px;
    width: auto;
}

TABLE.marc TD
{
   vertical-align:text-top;
}

/*
TABLE.marc TD.content
{
    white-space:pre-wrap;
}
*/

TABLE.marc TR.header
{
    background-color: #eeeeee;
}

TABLE.marc TD.fieldname
{
    border: 0px;
    border-top: 1px;
    border-style: dotted;
    border-color: #cccccc;
}

TABLE.marc TD.fieldname, TABLE.marc TD.indicator, TABLE.marc TR.header TD.content, TABLE.marc SPAN
{
     font-family: "Courier New", Tahoma, Arial, Helvetica, sans-serif;
     font-weight: bold;

}

TABLE.marc TD.indicator
{
    padding-left: 4px;
    padding-right: 4px;
    
    border: 0px;
    border-left: 1px;
    border-right: 1px;
    border-style: dotted;
    border-color: #eeeeee;
}

    TABLE.marc TD.content {
        word-break: break-all;
        overflow-wrap: anywhere;
    }

TABLE.marc SPAN
{
    margin: 2px;
    margin-left: 0px;
    
    border: 1px;
    border-style: solid;
    border-color: #cccccc;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    color: Blue;
    background-color: Yellow;

}