TABLE.sidebar
{
	font-size: 14px;
	text-align: left;

	border-width: 0px;
}

TABLE.sidebar TD
{
	padding-left:10px;
	padding-right:10px;
}

TABLE.sidebar TD.active
{
    background-color: Yellow;
	font-weight:bolder;
}