body {
    font-family: Microsoft YaHei, Tahoma, Arial, Helvetica, sans-serif;
    color: #333333;
    background-color: #8599a9;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

div#main {
    text-align: center;
}

#Image1 {
    margin: 16px;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    padding: 20px;
    text-align: center;
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1); /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7); /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    background: #ffc;
    color: Black;
}

.toolbar {
    background-color: darkslategray;
    color: white;
}

    .toolbar input, #LabelPageNo {
        background-color: darkslategray;
        color: white;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 24px;
        font-weight: bolder;
        border-width: 0px;
        padding: 4px;
    }

#LabelErrorInfo {
    padding: 16px;
    font-size: 24px;
    font-weight: bolder;
    color: darkred;
    background-color: yellow;
}
