<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UpgradeDt1000ToDp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UpgradeDt100ToDp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UpgradeDt1000ToDp2.Properties.Settings>
            <setting name="DtlpAsAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DtlpUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DtlpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DtlpSavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dp2AsUrl" serializeAs="String">
                <value>http://localhost:8001/dp2library</value>
            </setting>
            <setting name="Dp2UserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Dp2Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Dp2SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
        </UpgradeDt1000ToDp2.Properties.Settings>
        <UpgradeDt100ToDp2.Properties.Settings>
            <setting name="DtlpAsAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DtlpUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DtlpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DtlpSavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dp2AsUrl" serializeAs="String">
                <value>http://localhost/dp2libraryws/library.asmx</value>
            </setting>
            <setting name="Dp2UserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Dp2Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Dp2SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
        </UpgradeDt100ToDp2.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
