<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GcatLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GcatLite.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://dp2003.com/dp2library/rest</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>华人</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyResultToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputDebugInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectEntry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectPinyin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipboardChain" serializeAs="String">
                <value>False</value>
            </setting>
        </GcatLite.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
