<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZkFingerprint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZkFingerPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZkFingerprint.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Beep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Speak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayFingerprintImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>10</value>
            </setting>
        </ZkFingerprint.Properties.Settings>
        <ZkFingerPrint.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Beep" serializeAs="String">
                <value>True</value>
            </setting>
        </ZkFingerPrint.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
