<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Video.DirectShow" version="3.8.0" targetFramework="net472" />
  <package id="DirectShowLib" version="1.0.0" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.5.1.20201226" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.2.20210404" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.5.1.20201226" targetFramework="net472" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.1.20201226" targetFramework="net472" />
  <package id="SharpDX" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net472" />
  <package id="SharpDX.MediaFoundation" version="4.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="VL.OpenCV" version="1.2.1" targetFramework="net472" />
</packages>