BODY {
	FONT-FAMILY: Verdana
}

TABLE
{
	table-layout: fixed;
	font-size: 9pt;
	font-family: Verdana;
	border-collapse: collapse;
	background-color: gainsboro;
}

TR
{
	background-color: whitesmoke;
}

/* classname */
TR.classname
{
	font-size: 12pt;
}

TD.classnametitle
{
	font-weight: bold;
}

TD.classnametext
{
	background-color: white;	
}

/* classnumber */
TR.classnumber
{
	font-size: 12pt;	
}

TD.classnumbertitle
{
	font-weight: bold;
}

TD.classnumbertext
{
	font-weight: bold;
	font-size: 12pt;
	color: blue;
	background-color: white;
}

/* subject */
TR.subject
{
	background-color: lightyellow;
}

TD.subjecttitle
{
	font-weight: bold;
}

TD.subjecttext
{
	background-color: white;	
}

/* releatesubject */
TR.relatesubject
{
	background-color: ivory;
}

TD.relatesubjecttitle
{
	font-weight: bold;
}

TD.relatesubjecttext
{
	font-family: KaiTi_GB2312;
	background-color: white;
}

/* childrenclass */
TR.childrenclass
{
}

TD.childrenclasstitle
{
	font-weight: bold;
}

TD.childrenclasstext
{
	background-color: white;	
}

/* seperator*/
TR.seperator
{
	background-color: gainsboro;
}

/* parent link */
P.parentlink
{
	font-size: 9pt;
	font-family: Verdana;	
	text-align: right;
}