

#tframe
{
    width : 100%;
}

DIV.statisframe
{
    width: 700px;
    height:auto;
	overflow:auto;
	margin-right: 12px;
}

TABLE.statis
{
	font-size: 14px;
	width: auto;
	
	/*width: 400px;*/
	border-collapse:collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #EEEEEE;


}

TABLE.statis TD
{
	padding: 4pt;

	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 1px;
	border-bottom-width: 1px;

	border-style: solid;
	border-color: #e0e0e0;
}

TABLE.statis TR.tabletitle
{
	font-size: 16px;
	font-weight: bolder;
	background-color: #aaffaa;
    text-align: left;
}


TABLE.statis TR.columntitle
{
/*	font-size: 12px;*/
	font-weight: bolder;
	background-color: white;
}

TABLE.statis TR.column
{
    background-color: #9999ff;
    color: White;
}

TABLE.statis TR.column TD.day
{
    font-size: 8pt;
}

DIV.d2, DIV.d3
{
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: dotted;
    border-color: #555555;
}

DIV.hidden
{
    color: #bbbbff;
    border-width: 0px;
}

TABLE.statis TR.category
{
	text-align: left;
	font-weight: bolder;
/*	background-color: whitesmoke;*/
	background-color: #ccffcc;

}

TABLE.statis TR.content
{
/*	font-size: 12px;*/
	background-color: white;

}

TABLE.statis TR.content_active
{
/*	font-size: 12px;*/
	background-color: cornsilk;
}

/* 标题下面的统计范围注释 */
TABLE.statis TR.comment
{
	background-color: #eeffee;
    text-align: left;
}

TABLE.statis TR.content TD.name
{
	width: 200px;
	text-align: right;
	/*white-space: nowrap;*/
	background-color: #eeffee;
}

TABLE.statis TR.content TD.value
{
	width: 100px;
	text-align: right;
	font-weight: bold;
}

TABLE.statis TR.content TD.day
{
	text-align: right;
}

TABLE.statis TR.cmdline
{
/*	font-size: 12px;*/

}

TABLE.statis TR.debugline
{
/*	font-size: 12px;*/
	background-color: yellow;
}

span.calendar_label
{
	font-size: 14px;
	font-weight: bolder;
}

span.date_range_label
{
	font-size: 14px;
	font-weight: bolder;
}

div.date_range_comment
{
	font-size: 12px;

	border-style: dotted;
	border-color: #ffffff;
	border-width: 2px;
	padding: 8px;
	margin: 4px;
}

span.comment
{
	font-size: 12px;
}

/* 输入daterange的textbox */
input.date_range
{
	font-size: 14px;
}

/* 开始统计 按钮 */
input.begin_statis
{
	font-size: 12px;
}

DIV.body_wrapper
{
	border-style:solid;
	border-width:1px;
	border-top-width:0px;
	border-bottom-width: 26px;
	border-color:#aaaaaa;
	border-collapse:collapse;
	padding: 5px;
	background-color: White;
}

DIV#tabs
{
    margin-top: 10px;
}

tr.content td.day:hover
{
    font-weight: bold;

    background-color:#008800;
    color: White;   
}

#tips
{
    display:none;
    border: 2px;
    border-color: #008800;
    border-style:solid;
    
    float:right;
    
    /*
      position:relative;
      left: -20px;
    */  
    position:absolute;

      
    z-index:5;  
    width: auto;
    height: auto;
    background-color: rgb(200,255,200);
    background-color: rgba(200,255,200,0.7);
  
    padding: 6px;
}