BODY {
	FONT-FAMILY: Microsoft YaHei, Verdana, 宋体;
	FONT-SIZE: 8pt;
}

A:link, A:visited, A:active 
{
	text-decoration: none;
	color: #006600;
}

A:hover
{
    font-weight:bold;
}

TD.biblio, TD.coverimage
{
    vertical-align: top;
}

TABLE.biblio
{
	font-size: 8pt;
	
	border-color: lightgrey;
	border-width: 0px; 
	border-style: solid;
	border-collapse:collapse;
	
}

/* TD padding */
TABLE.biblio TD
{
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

TABLE.biblio TR.columntitle
{
	font-weight: bolder;
	background-color: white;
}

TABLE.biblio TR.content
{
	background-color: white;
}


TABLE.biblio TR.content TD.name
{
	text-align: right;
	/* background-color: #eeeeee; */
	color: #777777;
	width: 10%;
	
	
	border: 0px;
	border-right: 1px;
	border-color: #999999;
	border-style: solid;
	
	text-align: right;
	vertical-align: top;
	white-space:nowrap;
}

TABLE.biblio TR.bottomcmd
{
	font-size: 9pt;
}

TABLE.biblio TR.content.title
{
    font-size: 12pt;
    font-weight: bolder;
}


