BODY {
	FONT-FAMILY: Microsoft YaHei, 宋体;
}

TD.regular {
	FONT-SIZE: 9pt;
	FONT-FAMILY: Microsoft YaHei, 宋体;
}

TD.regular A:visited
{
	font-weight: bold;
}


TABLE.commentinfo
{
	font-size: 9pt;

	width: 100%;
	border-color: lightgrey;
	border-width: 0px; 
	border-style: solid;
	border-collapse:collapse;
}

/* TD padding */
TABLE.commentinfo TD
{
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}



TABLE.commentinfo TR.content
{
	background-color: white;
}

TABLE.commentinfo TD.name
{
	text-align: right;
	background-color: #eeeeee;
	color: #777777;
	width: 10%;
	
	border: 0px;
	border-right: 1px;
	border-color: #999999;
	border-style: solid;
	
	text-align: right;
	vertical-align: top;
	white-space:nowrap;
}

TABLE.commentinfo IMG.icon
{
    margin-right: 8px;
    width: 12pt;
    height: 12pt;
}

TABLE.commentinfo IMG.upload
{
    max-width: 300px;
}

TABLE.commentinfo IMG.upload:hover
{
    max-width: 2000px;
}

IMG.biblio
{
	float:left;
	margin-right: 4px;
	max-width: 70px;
}
