body
{
    font-family: Microsoft YaHei, Tahoma, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 16px;
    font-size: 9pt;
    background-color: #555555;
    color: White;
    text-align: center;
}

body.green
{
    background-color: #002200;
}
