BODY {
	FONT-FAMILY: Microsoft YaHei, ו;
}

TD.regular {
	FONT-SIZE: 9pt; 
	FONT-FAMILY: Microsoft YaHei, ו;
}

TD.regular A:visited
{
	font-weight: bold;
}


TABLE.commentinfo
{
	font-size: 8pt;
	border-left-color: lightgrey;
	border-bottom-color: lightgrey;
	border-top-color: lightgrey;
	border-right-color: lightgrey;
	background-color: lightgrey;
}

TABLE.commentinfo TR.content
{
	font-size: 8pt;
	background-color: white;
}

TABLE.commentinfo TD.name
{
	text-align: right;
	background-color: #eeeeee;
	width: 10%;
}




