<html>
<head>
%link%
</head>
<body>
<div class='pageheader'>%date% %seller% 出版社统计表 - 批次号或文件名: %batchno_or_recpathfilename%</div>
<div class='tabletitle'>%date% %seller% 出版社统计表</div>
{table}
<div class='pagefooter'></div>
</body>
</html>