BODY {
	FONT-FAMILY: Microsoft YaHei, Verdana, 宋体;
	FONT-SIZE: 8pt;
}

TABLE.operlog
{
    font-size: 10pt;
    width: 100%;
	border-color: lightgrey;
	border-width: 0px; 
	border-style: solid;
	border-collapse:collapse;
}

/* TD padding */
TABLE.operlog TD
{
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

TABLE.operlog TR.content
{
	background-color: white;
}

TABLE.operlog TD.name
{
	text-align: right;
	background-color: #eeeeee;
	color: #777777;
	width: 10%;
	
	border: 0px;
	border-right: 1px;
	border-color: #999999;
	border-style: solid;
	
	text-align: right;
	vertical-align: top;
	white-space:nowrap;
}

TABLE.accountinfo TD.content.rights
{
    font-family: Courier New;
}

TABLE.readerinfo, TABLE.iteminfo, TABLE.amerceinfo, TABLE.orderinfo, TABLE.issueinfo, TABLE.commentinfo, TABLE.overdueinfo, TABLE.accountinfo
{
    font-size: 8pt;
    width: 100%;
	border-color: lightgrey;
	border-width: 0px; 
	border-style: solid;
	border-collapse:collapse;
}

TABLE.readerinfo TD.name
{
	text-align: right;
	background-color: #ffffff;
	color: #777777;
	width: 10%;
	
	border: 0px;
	border-right: 1px;
	border-color: #999999;
	border-style: solid;
	
	text-align: right;
	vertical-align: top;
	white-space:nowrap;
}

p.xmlline
{
    margin: 4px;
    background-color: #eeeeee;
}

.summary
{
    font-size: 8pt;
	color: #777777;
}

TABLE.marc
{
    font-size: 8pt;
    width: auto;
    border-collapse: collapse;
    
    width: 100%;
    table-layout: fixed;
}

TABLE.marc TD
{
   vertical-align:text-top;
}

TABLE.marc TD.inserted
{
   background-color: #99ff99;
   font-weight: bolder;
}

TABLE.marc TD.modified
{
   background-color: #ffff99;
   font-weight: bolder;
}

TABLE.marc TD.deleted
{
   color: #ff0000;
   font-weight: bolder;
}

TABLE.marc TR.header
{
    /* background-color: #eeeeee; */
}

TABLE.marc TR.datafield
{
}


TABLE.marc TD.fieldname
{
    width: 2.6em;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;

    border: 0px;
    border-top: 1px;
    border-style: dotted;
    border-color: #cccccc;
}

TABLE.marc TD.sep
{
    width: 1px; 
    height: 100%;

    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    /* margin-left: 2px; */
    border: 0px;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #999999;
}

TABLE.marc TD.sepline
{
    height: 2px;
    border: 0px;

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999999;
}

TABLE.marc TD.cross
{
    height: 2px;
    width: 2px;
    border: 0px;
    
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #999999;

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999999;
}

TABLE.marc TD.fieldname, TABLE.marc TD.indicator, TABLE.marc TR.header TD.content, TABLE.marc SPAN
{
     font-family: "Courier New", Tahoma, Arial, Helvetica, sans-serif;
     font-weight: bold;
}

TABLE.marc TD.indicator
{
    width: 2em;
    white-space: nowrap;
    
    padding-left: 4px;
    padding-right: 4px;
    
    border: 0px;
    border-left: 1px;
    border-right: 1px;
    border-style: dotted;
    border-color: #eeeeee;
}

TABLE.marc TD.content
{
    word-break:break-all;
}

TABLE.marc SPAN.subfield
{
    margin: 2px;
    margin-left: 0px;
    line-height: 140%;
        
    border: 1px;
    border-style: solid;
    border-color: #cccccc;
    
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    /* color: Blue; */
    /* background-color: Yellow; */

    /*direction:ltr;*/
    /*unicode-bidi:isolate;*/
}

TABLE.marc SPAN.fieldend
{
    margin: 2px;
    margin-left: 4px;
    
    border: 1px;
    border-style: solid;
    border-color: White;
    
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    color: White;
}

.record_title
{
   	FONT-SIZE: 8pt;
}

.cataloging_rule_title
{
    width: 100%;
    background-color: #999999;
    color: White;

    padding: 4pt;
    font-size: 10pt;
    font-weight: bold;
}

.via
{
    font-size: 0.8em;
    margin-left: 20px;
    color: #555555;
}
