

DIV.pageheader
{
	text-align: right;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	margin-bottom: 16pt;
}

DIV.tabletitle
{
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	margin: 16pt;
}

TABLE.table
{
	width: 100%;

	font-size: 12pt;

	border-style: solid;
	border-width: 1pt;
	border-color: #000000;

	border-collapse:collapse;

	background-color: white;
}

TABLE.table TD
{
	padding: 6pt;
	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 0.5pt;
	border-bottom-width: 0.5pt;
	border-style: solid;
	border-color: #999999;
}

TABLE.table TR.column TD
{
	font-weight: bold;
	white-space: nowrap;
}

TABLE.table TR.content TD
{
/*
	padding: 4pt;
	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 1pt;
	border-bottom-width: 0.1pt;
	border-style: solid;
	border-color: #000000;
*/
}

TABLE.table TR.content_biblio_sum TD
{
/*
	padding: 4pt;
	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-style: solid;
	border-color: #000000;
*/
}


TABLE.table TD.no
{
	width: 1%;
	text-align: right;
	white-space: nowrap;
}


TABLE.table TD.recpath
{
	width: 10%;
}

TABLE.table TD.summary
{
	width: 30%;
}

TABLE.table TD.mergeComment
{

}


TABLE.table TD.seller
{

}


TABLE.table TD.range
{

}

TABLE.table TD.issueCount
{

}

TABLE.table TD.copy
{
	text-align: right;
}

TABLE.table TD.price
{
	text-align: right;
}

TABLE.table TD.totalPrice
{
	text-align: right;
}

TABLE.table TD.orderTime
{

}

TABLE.table TD.orderID
{

}

TABLE.table TD.distribute
{

}

TABLE.table TD.comment
{

}

TABLE.table TD.biblioRecpath
{

}

DIV.pagefooter
{
	text-align: right;

	border-top-width: 1pt;
	border-top-color: #000000;
	border-top-style: solid;
	margin-top: 16pt;
}

