
BODY
{
	font-family:"Microsoft YaHei", Times, serif;
}

DIV.pageheader
{
	text-align: right;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	margin-bottom: 16pt;
}

DIV.binding_table_title
{
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
}

TABLE.binding
{
	width: 100%;

	font-size: 12pt;

	border-style: dashed;
	border-width: 2pt;
	border-color: #000000;

	border-collapse:collapse;


	background-color: white;
}

TABLE.binding TD
{
	padding: 4pt;

	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 0.5pt;
	border-bottom-width: 0pt;

	border-style: solid;
	border-color: #000000;
}

TABLE.binding TD.name
{
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}

/*
TABLE.binding TR.barcode_label TD.value
{
    font-family: "C39HrP24DhTt", "Microsoft YaHei", Times, serif;
    font-size: 3.0em;
    padding-left: 50px;
}
    */

    tr.content td.barcode_label, .barcode_label.value {
        font-family: "C39HrP24DhTt", "Microsoft YaHei", Times, serif;
        font-size: 3.0em;
        padding-left: 50px;
    }

DIV.members_table_title
{
	text-align: center;
	margin-top: 20pt;

	font-size: 14pt;
	font-weight: bold;

	border-bottom-width: 0pt;
	border-bottom-color: #000000;
	border-bottom-style: dashed;
}

TABLE.members
{
	width: 100%;

	font-size: 10pt;

	border-style: solid;
	border-width: 2pt;
	border-color: #000000;

	border-left-width: 0pt;
	border-right-width: 0pt;

	border-collapse:collapse;

	background-color: white;
}

TABLE.members TD
{
	padding: 4pt;

	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 0pt;
	border-bottom-width: 0.1pt;

	border-style: dotted;
	border-color: #000000;
}

TABLE.members TR.column TD
{
	font-weight: bold;
	white-space: nowrap;
}

TABLE.members TR.missing TD
{
	color: red;
	text-decoration:line-through;
}

TABLE.members TR.content TD.missing
{
	color: red;
	text-align: right;
	width: 5%;
	text-decoration:none;
	font-weight: bold;
}

TABLE.members TR.content TD.volume
{
	white-space: nowrap;
}

TABLE.members TR.content TD.refID
{
	font-size: 8pt;
}


DIV.pagefooter
{
	text-align: right;

	border-top-width: 1pt;
	border-top-color: #000000;
	border-top-style: solid;
	margin-top: 16pt;
}

