body
{
	font-family: Microsoft YaHei, Tahoma, Arial;
}

DIV.pageheader
{
	text-align: right;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	margin-bottom: 16pt;
}

DIV.tabletitle
{
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	margin: 16pt;
}

TABLE.table
{
	width: 100%;

	font-size: 12pt;

	border-style: solid;
	border-width: 1pt;
	border-left-color: #000000;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;

	background-color: white;
}

TABLE.table TR.column TD
{
	font-weight: bold;
	white-space: nowrap;
}

TABLE.table TR.content TD
{
	padding: 4pt;
	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 1pt;
	border-bottom-width: 0.1pt;
	border-style: solid;
	border-color: #000000;
}

TABLE.table TR.content_amerceoperator_sum TD
{
	padding: 4pt;
	border-left-width: 0pt;
	border-top-width: 0pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-style: solid;
	border-color: #000000;
	background-color: yellow;
}


TABLE.table TD.no
{
	width: 10%;
	text-align: right;
}


TABLE.table TD.id
{
	width: 5%;
	font-size: 8pt;
}

TABLE.table TD.summary
{
	width: 20%;
}

TABLE.table TD.reason
{
	width: 50%;
}

TABLE.table TD.price
{
	text-align: right;
}

TABLE.table TD.borrowDate
{
	font-size: 8pt;
}

TABLE.table TD.returnDate
{
	font-size: 8pt;
}

TABLE.table TR.content TD.amerceTime
{
	font-size: 7pt;
}

TABLE.table TD.recpath
{
	font-size: 8pt;
	white-space: nowrap;
}

TABLE.table TR.content TD.settlementTime
{
	font-size: 7pt;
}

DIV.pagefooter
{
	text-align: right;

	border-top-width: 1pt;
	border-top-color: #000000;
	border-top-style: solid;
	margin-top: 16pt;
}


TABLE.totalsum
{
	width: 100%;

	font-size: 12pt;

	border-style: solid;
	border-width: 1pt;
	border-left-color: #000000;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;

	background-color: white;
}

TABLE.totalsum TD.price
{
	text-align: right;
}

TABLE.totalsum TD.itemcount
{
	text-align: right;
}


TABLE.totalsum TR.totalsum_columtitle
{
	font-weight: bold;
	background-color: #eeeeee;
}

TABLE.totalsum TR.amerceoperatorsum_titleline
{
	font-style: italic;
	background-color: yellow;
}
