BODY {
    FONT-FAMILY: Microsoft YaHei, Verdana, 宋体;
    FONT-SIZE: 8pt;
}

A:link, A:visited, A:active {
    text-decoration: none;
    color: #006600;
}

A:hover {
    font-weight: bold;
}

TABLE {
    font-size: 8pt;
    border-color: lightgrey;
    border-width: 0px;
    border-style: solid;
    border-collapse: collapse;
}

    /* TD padding */
    TABLE TD {
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }

    TABLE TR.columntitle {
        font-weight: bolder;
        background-color: white;
    }

    TABLE TR.content {
        background-color: white;
    }

        TABLE TR.content TD {
            border: 0px;
            border-bottom: 1px;
            border-color: #999999;
            border-style: solid;
        }

        TABLE TR.content TD.name {
            text-align: right;
            /* background-color: #eeeeee; */
            color: #777777;
            width: 10%;
            border: 0px;
            border-right: 1px;
            border-color: #999999;
            border-style: solid;
            text-align: right;
            vertical-align: top;
            white-space: nowrap;
        }

            TABLE TR.content TD.no {
                width: 30pt;
            }


        TABLE TR.content TD.location {
            width: 120pt;
        }

        TABLE TR.content TD.price {
            width: 60pt;
        }

            TABLE TR.content TD.seller {
                width: 100pt;
            }

            TABLE TR.content TD.source {
                width: 100pt;
            }

        TABLE TR.content TD.recpath {
            width: 120pt;
        }

    TABLE TR.bottomcmd {
        font-size: 9pt;
    }
