<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>0</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <GenerateManifests>True</GenerateManifests>
    <Install>true</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://dp2003.com/rfidtools/v1/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>6AF85AEF3D710EA412E3251FB895A45EE1B11018</ManifestCertificateThumbprint>
    <ManifestKeyFile>代码签名证书-2020.pfx</ManifestKeyFile>
    <ManifestTimestampUrl>http://timestamp.digicert.com</ManifestTimestampUrl>
    <MapFileExtensions>true</MapFileExtensions>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>RFID 工具箱</ProductName>
    <PublishDir>c:\publish\RfidTool\v1\</PublishDir>
    <PublishUrl>c:\publish\RfidTool\v1\</PublishUrl>
    <PublisherName>DigitalPlatform</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>dp2 V3</SuiteName>
    <TargetCulture>zh-CN</TargetCulture>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>.NET 桌面运行时 5.0.0 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>