<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_dp2libraryREST" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_dp2library">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_dp2library">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_dp2library" messageEncoding="Mtom">
          <security>
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8002/dp2library/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_dp2library" contract="localhost.dp2library"
        name="NetTcpBinding_dp2library" />
      <endpoint address="net.pipe://localhost/dp2library/" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_dp2library" contract="localhost.dp2library"
        name="NetNamedPipeBinding_dp2library" />
      <endpoint address="http://localhost:8001/dp2library/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_dp2library" contract="localhost.dp2library"
        name="WSHttpBinding_dp2library">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAihwImE/6TvAh7vtULDTbLlf2c/sgAAAAAQAAAAQCAAAwggIAMIIBbaADAgECAhC71mKXZt4Eh05pcgkIz9GnMAkGBSsOAwIdBQAwGjEYMBYGA1UEAxMPRGlnaXRhbFBsYXRmb3JtMB4XDTExMDMxMzEyMDIyMVoXDTM5MTIzMTIzNTk1OVowGjEYMBYGA1UEAxMPRGlnaXRhbFBsYXRmb3JtMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDB6AADKWZ/VAYko4SA22xhT1KrF3OsrDF7fNna+ceexPdAYkRF8tO1BjP979AdMy7y85ye/GDBzfIV+PFtE01w5TSQosdYZMxl6imGmdizTumDmgFa4tiqPx8Als4RxDybF9BZQCwzp0hFXLdaPwA9nm3o9gkkHJQK7PGxAHrVRQIDAQABo08wTTBLBgNVHQEERDBCgBDx0s6U6fIO57Egb5OtNI0noRwwGjEYMBYGA1UEAxMPRGlnaXRhbFBsYXRmb3JtghC71mKXZt4Eh05pcgkIz9GnMAkGBSsOAwIdBQADgYEASJ042AXnZT1aCujxrK1y+vS6/uC7E5Ux/5Jw6RNo1hbjoP/Pcm5Jc/P441gPDiKCr2Bf+iO8SLn1KcH1BKGdldXj2qx4H/f5TRfwFTVz0+lDcYV3Lrr5ZC2rxefJOvzEfOSe8HMplPwQ+xFXyrFvp5oI2EnuUnIfnhrizpkGTrY=" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/dp2library/basic/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_dp2libraryREST" contract="localhost.dp2libraryREST"
        name="BasicHttpBinding_dp2libraryREST" />
    </client>
  </system.serviceModel>
</configuration>
