


DIV.content_wrapper
{
	width: 50%;
	border-width: none;
}

TABLE.resetpassword
{
	font-size: 12px;
	background-color: white;
	border-style: solid;
	border-top-width: 18px;
	border-bottom-width: 18px;
	border-left-width: 8px;
	border-right-width: 8px;
	border-color: whitesmoke;
	width: 100%;
}

TABLE.resetpassword TD.name
{
	text-align: right;
	padding: 4px;
	white-space: nowrap;
}

TABLE.resetpassword TD.value
{
	text-align: left;
}
