TABLE.messagelist_total
{
	/*width: 970px;*/
	width: 100%;
	margin: 10px;
}

TABLE.messagelist_total TD.left
{
	width: 200px;
}

TABLE.messagelist_total TD.middle
{
	width: 16px;
}

TABLE.messagelist_total TD.right
{
	width: auto;
}


DIV.boxes_wrapper
{
	font-size: 12px;
	text-align: left;
	/*width: 160px;*/
	width: auto;

	border-width: 0px;

	-webkit-box-shadow: 2px 2px 5px rgba( 0, 0, 0, .3 );
	-moz-box-shadow: 2px 2px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 2px 2px 5px rgba( 0, 0, 0, .3 );
}

/* 标题 */
DIV.boxes_wrapper TD.middle
{
	font-weight: bolder;
}

DIV.messagelist_wrapper
{
	font-size: 12px;
	text-align: left;
	width: 98%;

	border-width: 0px;

	-webkit-box-shadow: 2px 2px 5px rgba( 0, 0, 0, .3 );
	-moz-box-shadow: 2px 2px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 2px 2px 5px rgba( 0, 0, 0, .3 );
}

/* 标题 */
DIV.messagelist_wrapper TD.middle
{
	font-weight: bolder;
}

TABLE.messagelist
{
	width: 100%;
	font-size: 12px;


	background-color: lightgrey;
	
	border-style: solid;
	border-width:1px;
	border-color: #999999;
	border-collapse:collapse;

}

TABLE.messagelist TR TD
{
	padding: 5px;
	padding-left: 16px;
	padding-left: 16px;
	
	border-style: dotted;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #999999;
}

TABLE.messagelist TR.info
{
}

TABLE.messagelist TR.columntitle
{
	font-weight: bolder;
	background-color: white;
}

TABLE.messagelist TR.columntitle TD.size
{
	text-align: right;
}


TABLE.messagelist TR.content
{
	background-color: white;
}

TABLE.messagelist TR:not(.new) TD.sender, TABLE.messagelist TR:not(.new) TD.subject, TABLE.messagelist TR:not(.new) TD.size
{
	background-color: #eeeeee;
}



TABLE.messagelist TR.content TD.date
{
}

TABLE.messagelist TR TD.size
{
	text-align: right;
}

TABLE.messagelist TR.content.new
{
	font-weight: bolder;
	background-color: #ffff99;
}


TABLE.messagelist TR.content TD.subject
{
    font-size: 1.25em;
}

TABLE.messagelist TR.content TD.date
{
	font-size: 0.9em;
}

TABLE.messagelist TR.content TD.size
{
	text-align: right;
}

TABLE.messagelist TR.cmdline
{
	font-size: 12px;
}

TABLE.messagelist TR.debugline
{
	font-size: 12px;
	font-weight: bolder;
	background-color: white;
}

TABLE.messagelist TR.cmdline INPUT
{

}


TABLE.boxes
{
	font-size: 12px;

	border-style: solid;
	border-width: 1px;
	border-color: #999999;

	
	border-collapse:collapse;

	width: 100%;

}

TABLE.boxes TD
{
    padding: 8px;
}

TABLE.boxes TR.box
{
	background-color: white;
	text-align: center;
}

TABLE.boxes TR.box.active
{
	font-weight: bolder;
	background-color: #aaaaff;

}

TABLE.boxes TR.cmd INPUT.newmessage
{

}



