<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DigitalPlatform.rms.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
  <microsoft.web.services3>
    <diagnostics/>
   </microsoft.web.services3>
   -->
  <applicationSettings>
    <DigitalPlatform.rms.Client.Properties.Settings>
      <setting name="DigitalPlatform_rms_Client_rmsService_rmsService" serializeAs="String">
        <value>http://test111/rmsservice/rmsservice.asmx</value>
      </setting>
    </DigitalPlatform.rms.Client.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_KernelService">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_KernelService" messageEncoding="Mtom">
          <security>
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/dp2kernel/" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_KernelService" contract="rmsws_localhost.KernelService" name="NetNamedPipeBinding_KernelService" />
      <endpoint address="http://localhost:8001/dp2kernel" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_KernelService" contract="rmsws_localhost.KernelService" name="WSHttpBinding_KernelService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAihwImE/6TvAh7vtULDTbLlf2c/sgAAAAAQAAAAQCAAAwggIAMIIBbaADAgECAhC71mKXZt4Eh05pcgkIz9GnMAkGBSsOAwIdBQAwGjEYMBYGA1UEAxMPRGlnaXRhbFBsYXRmb3JtMB4XDTExMDMxMzEyMDIyMVoXDTM5MTIzMTIzNTk1OVowGjEYMBYGA1UEAxMPRGlnaXRhbFBsYXRmb3JtMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDB6AADKWZ/VAYko4SA22xhT1KrF3OsrDF7fNna+ceexPdAYkRF8tO1BjP979AdMy7y85ye/GDBzfIV+PFtE01w5TSQosdYZMxl6imGmdizTumDmgFa4tiqPx8Als4RxDybF9BZQCwzp0hFXLdaPwA9nm3o9gkkHJQK7PGxAHrVRQIDAQABo08wTTBLBgNVHQEERDBCgBDx0s6U6fIO57Egb5OtNI0noRwwGjEYMBYGA1UEAxMPRGlnaXRhbFBsYXRmb3JtghC71mKXZt4Eh05pcgkIz9GnMAkGBSsOAwIdBQADgYEASJ042AXnZT1aCujxrK1y+vS6/uC7E5Ux/5Jw6RNo1hbjoP/Pcm5Jc/P441gPDiKCr2Bf+iO8SLn1KcH1BKGdldXj2qx4H/f5TRfwFTVz0+lDcYV3Lrr5ZC2rxefJOvzEfOSe8HMplPwQ+xFXyrFvp5oI2EnuUnIfnhrizpkGTrY=" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
