<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="2.0.385" targetFramework="net472" />
  <package id="Namotion.Reflection" version="1.0.23" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NJsonSchema" version="10.4.3" targetFramework="net472" />
  <package id="NJsonSchema.CodeGeneration" version="10.4.3" targetFramework="net472" />
  <package id="NJsonSchema.CodeGeneration.CSharp" version="10.4.3" targetFramework="net472" />
  <package id="NSwag.CodeGeneration" version="13.11.1" targetFramework="net472" />
  <package id="NSwag.CodeGeneration.CSharp" version="13.11.1" targetFramework="net472" />
  <package id="NSwag.Core" version="13.11.1" targetFramework="net472" />
</packages>